<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Animal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Create Animal</h1>
    <form method="post" action="/createAnimal">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name">
        <br>
        <label for="Data">Data</label>
        <input type="text" id="Data" name="Data">
        <br>
        <label for="Pic">Pic</label>
        <input type="text" id="Pic" name="Pic">
        <br>
        <input type="submit" value="Create">
        <br>
    </form>
    <a href="/Animals">Back to List</a>
</body>
</html>
