<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Habitat Of Animal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Create Habitat Of Animal</h1>
    <form method="post" action="/createHabitatOfAnimal">
        <label for="AnimalID">AnimalID</label>
        <input type="text" id="AnimalID" name="AnimalID">
        <br>
        <label for="HabitatID">HabitatID</label>
        <input type="text" id="HabitatID" name="HabitatID">
        <br>
        <input type="submit" value="create">
        <br>
    </form>
    <a href="/">Back to List</a>
</body>
</html>